* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html ::-webkit-scrollbar {
  width: 0.55vw !important;
}
html ::-webkit-scrollbar-track {
  background-color: white;
}
html ::-webkit-scrollbar-thumb {
  background-color: #02dde0;
  border-radius: 15px;
  transition: 0.3s;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #1cfbff;
  margin: 1px 0;
}
#Navbar {
  position: relative;
}
#Navbar #Navbar-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #019194;
  z-index: -1;
}
#Navbar .navdiv {
  position: relative;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Navbar .navdiv .logo {
  display: inline-block;
  margin-left: 8px;
}
#Navbar .navdiv #navbut {
  display: none;
  float: right;
  color: white;
  margin-right: 8px;
  margin-left: 12px;
  padding: 4px 0;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}
#Navbar .navdiv #navbut span {
  display: block;
  margin: 4px 0;
  width: 30px;
  height: 5px;
  background-color: #02dde0;
  border-radius: 4px;
  transition: 0.5s;
}
#Navbar .navdiv ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  transition: 0.3s ease-in-out;
  float: right;
  border-bottom: 1px solid transparent;
  margin-bottom: 0 !important;
}
#Navbar .navdiv ul li {
  display: inline-block;
  margin-right: 12px;
  transform: scale(1);
  transition: .5s;
}
#Navbar .navdiv ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #02dde0;
  transition: 0.3s;
  padding: 3px 12px;
  border-bottom: 1px solid transparent;
}
#Navbar .navdiv ul li a:hover {
  color: #1cfbff;
}
#Navbar .navdiv ul .active a {
  color: #1cfbff;
}
#Navbar .navdiv ul li:hover {
  transform: scale(1.07);
}
#Navbar .navdiv ul li:hover a {
  border-bottom: 1px solid #1cfbff;
}
#Navbar .nav-body {
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 28vh 0;
}
#Navbar .nav-body h1 {
  font-weight: 700;
  font-size: 3.125rem;
  color: white;
}
#Navbar .nav-body p {
  font-weight: 500;
  font-size: 1.875rem;
  color: white;
}
#Navbar .nav-body a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.313rem;
  color: white;
  background-color: #02dde0;
  padding: 10px 38px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: 0.3s;
}
#Navbar .nav-body a:hover {
  color: #02dde0;
  background-color: white;
}
@media screen and (max-width: 992px) {
  #Navbar .navdiv {
    position: relative;
  }
  #Navbar .navdiv ul {
    margin-top: 15px;
    position: absolute;
    top: -1000px;
    width: 100%;
    display: block;
    list-style: none;
    text-align: center;
    background-color: #019194;
    padding: 15px;
    opacity: 1;
    z-index: 9;
    border-radius: 0 0 15px 15px;
  }
  #Navbar .navdiv ul li {
    display: block;
    padding: 10px 15px;
  }
  #Navbar .navdiv .menu-responsive {
    top: 94.9px;
  }
  #Navbar .navdiv .is-active span:nth-child(2) {
    opacity: 0;
  }
  #Navbar .navdiv .is-active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #Navbar .navdiv .is-active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  #Navbar .navdiv #navbut {
    display: inline-block;
  }
}
@media all and (max-width: 767px) {
  #Navbar .navdiv {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #Navbar .navdiv .logo {
    width: 50px;
  }
  #Navbar .navdiv .logo img {
    width: 100%;
    object-fit: contain;
  }
  #Navbar .navdiv .menu-responsive {
    top: 57.9px;
  }
  #Navbar .navdiv #navbut {
    padding: 4px 0;
  }
  #Navbar .navdiv #navbut span {
    margin: 6px 0;
    width: 28px;
    height: 3px;
  }
  #Navbar .nav-body {
    padding: 10vh 2vw;
  }
  #Navbar .nav-body h1 {
    font-size: 2.1rem;
  }
  #Navbar .nav-body p {
    font-size: 1rem;
  }
  #Navbar .nav-body a {
    font-size: 0.8rem;
  }
}
#not-found .not-found-element {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 19vh 0;
}
#not-found .not-found-element h1 {
  font-weight: 500;
  font-size: 4.688rem;
  color: #019194;
}
#not-found .not-found-element p {
  font-weight: 500;
  font-size: clamp(2.6rem, 5vw, 3.625rem);
  color: #019194;
}
#not-found .not-found-element a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.875rem;
  color: white;
  background-color: #019194;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
#not-found .not-found-element a:hover {
  color: white;
  background-color: #02dde0;
}
.loader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}
.loader .first {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: transparent;
  animation: loading 0.8s infinite linear;
  border-radius: 50%;
  border: 12px solid #1cfbff;
  border-top: 12px solid #02dde0;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 992px) {
  #Navbar .navdiv {
    position: relative;
  }
  #Navbar .navdiv ul {
    margin-top: 15px;
    position: absolute;
    left: -1000px;
    width: 100%;
    display: block;
    list-style: none;
    text-align: center;
    background-color: #019194;
    padding: 15px;
    opacity: 1;
    z-index: 9;
    border-radius: 0 0 15px 15px;
  }
  #Navbar .navdiv ul li {
    display: block;
    padding: 10px 15px;
  }
  #Navbar .navdiv .menu-responsive {
    left: 0;
  }
  #Navbar .navdiv .is-active span:nth-child(2) {
    opacity: 0;
  }
  #Navbar .navdiv .is-active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #Navbar .navdiv .is-active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  #Navbar .navdiv #navbut {
    display: inline-block;
  }
}
@media all and (max-width: 767px) {
  #Navbar .nav-body {
    padding: 10vh 2vw;
  }
  #Navbar .nav-body h1 {
    font-size: 2.1rem;
  }
  #Navbar .nav-body p {
    font-size: 1rem;
  }
  #Navbar .nav-body a {
    font-size: 0.8rem;
  }
  #not-found .not-found-element a {
    font-size: 1.274rem;
  }
  .loader .first {
    width: 90px;
    height: 90px;
    border: 8px solid #1cfbff;
    border-top: 8px solid #02dde0;
  }
}
