* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html ::-webkit-scrollbar {
  width: 0.55vw !important;
}
html ::-webkit-scrollbar-track {
  background-color: white;
}
html ::-webkit-scrollbar-thumb {
  background-color: #02dde0;
  border-radius: 15px;
  transition: 0.3s;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #1cfbff;
  margin: 1px 0;
}
#Navbar {
  position: relative;
}
#Navbar #Navbar-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #019194;
  z-index: -1;
}
#Navbar .navdiv {
  position: relative;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Navbar .navdiv .logo {
  display: inline-block;
  margin-left: 8px;
}
#Navbar .navdiv #navbut {
  display: none;
  float: right;
  color: white;
  margin-right: 8px;
  margin-left: 12px;
  padding: 4px 0;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}
#Navbar .navdiv #navbut span {
  display: block;
  margin: 4px 0;
  width: 30px;
  height: 5px;
  background-color: #02dde0;
  border-radius: 4px;
  transition: 0.5s;
}
#Navbar .navdiv ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  transition: 0.3s ease-in-out;
  float: right;
  border-bottom: 1px solid transparent;
  margin-bottom: 0 !important;
}
#Navbar .navdiv ul li {
  display: inline-block;
  margin-right: 12px;
  transform: scale(1);
  transition: .5s;
}
#Navbar .navdiv ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #02dde0;
  transition: 0.3s;
  padding: 3px 12px;
  border-bottom: 1px solid transparent;
}
#Navbar .navdiv ul li a:hover {
  color: #1cfbff;
}
#Navbar .navdiv ul .active a {
  color: #1cfbff;
}
#Navbar .navdiv ul li:hover {
  transform: scale(1.07);
}
#Navbar .navdiv ul li:hover a {
  border-bottom: 1px solid #1cfbff;
}
#Navbar .nav-body {
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 28vh 0;
}
#Navbar .nav-body h1 {
  font-weight: 700;
  font-size: 3.125rem;
  color: white;
}
#Navbar .nav-body p {
  font-weight: 500;
  font-size: 1.875rem;
  color: white;
}
#Navbar .nav-body a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.313rem;
  color: white;
  background-color: #02dde0;
  padding: 10px 38px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: 0.3s;
}
#Navbar .nav-body a:hover {
  color: #02dde0;
  background-color: white;
}
@media screen and (max-width: 992px) {
  #Navbar .navdiv {
    position: relative;
  }
  #Navbar .navdiv ul {
    margin-top: 15px;
    position: absolute;
    top: -1000px;
    width: 100%;
    display: block;
    list-style: none;
    text-align: center;
    background-color: #019194;
    padding: 15px;
    opacity: 1;
    z-index: 9;
    border-radius: 0 0 15px 15px;
  }
  #Navbar .navdiv ul li {
    display: block;
    padding: 10px 15px;
  }
  #Navbar .navdiv .menu-responsive {
    top: 94.9px;
  }
  #Navbar .navdiv .is-active span:nth-child(2) {
    opacity: 0;
  }
  #Navbar .navdiv .is-active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #Navbar .navdiv .is-active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  #Navbar .navdiv #navbut {
    display: inline-block;
  }
}
@media all and (max-width: 767px) {
  #Navbar .navdiv {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #Navbar .navdiv .logo {
    width: 50px;
  }
  #Navbar .navdiv .logo img {
    width: 100%;
    object-fit: contain;
  }
  #Navbar .navdiv .menu-responsive {
    top: 57.9px;
  }
  #Navbar .navdiv #navbut {
    padding: 4px 0;
  }
  #Navbar .navdiv #navbut span {
    margin: 6px 0;
    width: 28px;
    height: 3px;
  }
  #Navbar .nav-body {
    padding: 10vh 2vw;
  }
  #Navbar .nav-body h1 {
    font-size: 2.1rem;
  }
  #Navbar .nav-body p {
    font-size: 1rem;
  }
  #Navbar .nav-body a {
    font-size: 0.8rem;
  }
}
#portfolio {
  padding: 4vh 2vw;
}
#portfolio .portfolio-head h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: clamp(2.6rem, 5vw, 3.625rem);
  color: white;
  text-shadow: 0 9px 10px #019194;
  animation: shado 2s infinite alternate;
}
@keyframes shado {
  0% {
    text-shadow: 0 0px 10px  white;
    color: #019194;
  }
  100% {
    text-shadow: 0 0px 10px #019194;
    color: white;
  }
}
#portfolio .portfolio-head span {
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 0 3px #019194;
}
#portfolio .preparationYear {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 2.75rem;
  color: #02dde0;
}
#portfolio .port-item {
  transition: 0.5s;
  margin: 15px 0;
  position: relative;
  width: 100%;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0 0 3px #02dde0;
  overflow: hidden;
}
#portfolio .port-item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}
#portfolio .port-item a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 2.313rem);
  color: white;
  text-decoration: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0 0 15px 20px;
  z-index: 2;
  transition: all 0.9s ease;
}
#portfolio .port-item a span {
  font-weight: 500;
  font-size: 1.563rem;
}
#portfolio .port-item a span i {
  margin-left: 15px;
  color: #1cfbff;
  animation: arrow 0.7s infinite alternate;
}
@keyframes arrow {
  0% {
    color: #1cfbff;
  }
  100% {
    color: white;
  }
}
#portfolio .port-item .anime {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  background-color: #02dde0;
  position: absolute;
  top: 0;
  left: -1000px;
  width: 100%;
  height: 100%;
  padding: 18px 20px 0 0 ;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 1;
}
#portfolio .port-item .anime i {
  display: inline-block;
  color: white;
  height: 20px;
  animation: finger 0.4s infinite alternate;
}
@keyframes finger {
  0% {
    transform: rotateY(-5deg);
    transform: scale(0.95);
  }
  100% {
    transform: rotateY(5deg);
    transform: scale(1.05);
  }
}
#portfolio .port-item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 6px #02dde0;
}
#portfolio .port-item:hover a {
  opacity: 1;
  left: 0;
}
#portfolio .port-item:hover .anime {
  left: 0;
  opacity: 0.9;
}
#contact {
  padding: 10vh 0;
  background-color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}
#contact .contact-name {
  text-align: center;
  padding-bottom: 5vh;
}
#contact .contact-name h1 {
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 2.313rem);
  color: #019194;
}
#contact .contact-name .keep {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contact-name .keep span {
  margin: 5px;
}
#contact .contact-name .keep span:nth-child(1) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #00adac;
}
#contact .contact-name .keep span:nth-child(2) {
  display: inline-block;
  font-weight: 400;
  font-size: 1.222rem;
  color: #00adac;
}
#contact .contact-name .keep span:nth-child(3) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #00adac;
}
#contact .contact-left {
  margin-top: 6vh;
  list-style: none;
  padding: 0;
}
#contact .contact-left .left-head {
  margin-bottom: 30px;
}
#contact .contact-left .left-head h4 {
  font-weight: 500;
  font-size: 1.875rem;
  color: #019194;
}
#contact .contact-left li {
  margin-bottom: 12px;
  transition: 0.3s;
}
#contact .contact-left li i {
  display: inline-block;
  width: 25px;
  height: 100%;
  vertical-align: super;
  font-size: 1.875rem;
  color: #019194;
  transition: 0.3s;
  text-align: center;
  margin-right: 15px;
}
#contact .contact-left li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.063rem;
  color: #019194;
  transition: 0.3s;
}
#contact .contact-left li:hover {
  transform: scale(1.02);
}
#contact .contact-left li:hover i {
  color: #02dde0;
}
#contact .contact-left li:hover a {
  color: #02dde0;
}
#contact .social-div {
  margin-top: 20px;
}
#contact .social-div a {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  font-size: 1.563rem;
  font-weight: 400;
  border-radius: 50%;
  box-shadow: 0 0 4px black;
}
#contact .social-div .s-whatsapp {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-whatsapp:hover {
  color: white;
  background-color: #25D366;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .social-div .s-insta {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-insta:hover {
  color: white;
  background-color: #8a3ab9;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .social-div .s-linkedin {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-linkedin:hover {
  color: white;
  background-color: #0077B5;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .social-div .s-facebook {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-facebook:hover {
  color: white;
  background-color: #105792;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .contact-right {
  margin: 3vh 0;
  box-shadow: 0 0 5px #019194;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}
#contact .contact-right .right-head {
  margin-bottom: 30px;
}
#contact .contact-right .right-head h4 {
  font-weight: 500;
  font-size: 1.875rem;
  color: #019194;
}
#contact .contact-right form input {
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px #019194;
  color: #02dde0;
  font-weight: 400;
  font-size: 1.063rem;
}
#contact .contact-right form .first-row .f-name {
  width: 49%;
  height: 32px;
  padding-left: 10px;
}
#contact .contact-right form .first-row .f-email {
  width: 49%;
  float: right;
  height: 32px;
  padding-left: 10px;
}
#contact .contact-right form .f-subject {
  width: 100%;
  margin-top: 20px;
  height: 32px;
  padding-left: 10px;
}
#contact .contact-right form .f-message {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #02dde0;
  font-weight: 400;
  font-size: 1.063rem;
  box-shadow: 0 0 5px #019194;
}
#contact .contact-right form ::placeholder {
  color: #02dde0;
}
#contact .contact-right form .sub-but {
  margin-top: 10px;
  padding: 5px 15px;
  background-color: white;
  color: #02dde0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  transition: 0.3s;
}
#contact .contact-right form .sub-but:hover {
  background-color: #02dde0;
  color: white;
}
#contact .contact-right:hover {
  transform: scale(1.04);
}
#copyright {
  background-color: #026E70;
  font-size: 0.8rem;
}
#copyright .copyright {
  text-align: center;
  padding: 10px;
  color: white;
}
#copyright .copyright span:nth-child(1) {
  color: #02dde0;
}
#copyright .copyright span:nth-child(2) {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: white;
  margin: 0 3px;
}
#copyright .copyright i {
  padding: 0 2px;
}
.loader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}
.loader .first {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: transparent;
  animation: loading 0.8s infinite linear;
  border-radius: 50%;
  border: 12px solid #1cfbff;
  border-top: 12px solid #02dde0;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 767px) {
  .loader .first {
    width: 90px;
    height: 90px;
    border: 8px solid #1cfbff;
    border-top: 8px solid #02dde0;
  }
}
@media all and (max-width: 767px) {
  #portfolio .portfolio-head h1 {
    text-align: center;
  }
  #portfolio .portfolio-head span {
    height: 3px;
  }
  #portfolio .preparationYear {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 2.063rem;
  }
  #portfolio .port-item {
    margin: 5px 0;
    height: 190px;
  }
  #portfolio .port-item a {
    font-size: 1.438rem;
  }
  #portfolio .port-item a span {
    font-size: 1.375rem;
  }
  #portfolio .port-item a span i {
    margin-left: 15px;
  }
  #portfolio .port-item .anime {
    padding: 18px 20px 0 0 ;
  }
  #portfolio .port-item .anime i {
    height: 20px;
  }
  #contact {
    padding: 6vh 0;
  }
  #contact .col-md-5 {
    order: 1;
  }
  #contact .contact-name {
    padding: 0;
  }
  #contact .contact-left {
    padding-left: 30px;
  }
  #contact .social-div {
    padding-left: 30px;
  }
  #contact .contact-right {
    margin-top: 6vh;
  }
}
