* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html ::-webkit-scrollbar {
  width: 0.55vw !important;
}
html ::-webkit-scrollbar-track {
  background-color: white;
}
html ::-webkit-scrollbar-thumb {
  background-color: #02dde0;
  border-radius: 15px;
  transition: 0.3s;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #1cfbff;
  margin: 1px 0;
}
#Navbar {
  position: relative;
  height: 100vh;
}
#Navbar .h-100percent {
  height: 100%;
}
#Navbar .h-90percent {
  height: 88%;
}
#Navbar #Navbar-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #019194;
  z-index: -1;
}
#Navbar .navdiv {
  position: relative;
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Navbar .navdiv .logo {
  display: inline-block;
  margin-left: 8px;
}
#Navbar .navdiv #navbut {
  display: none;
  float: right;
  color: white;
  margin-right: 8px;
  margin-left: 12px;
  padding: 4px 0;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}
#Navbar .navdiv #navbut span {
  display: block;
  margin: 4px 0;
  width: 30px;
  height: 5px;
  background-color: #02dde0;
  border-radius: 4px;
  transition: 0.5s;
}
#Navbar .navdiv ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  transition: ease-in-out all 0.3s;
  float: right;
  border-bottom: 1px solid transparent;
  margin-bottom: 0 !important;
}
#Navbar .navdiv ul li {
  display: inline-block;
  margin-right: 12px;
  transform: scale(1);
  transition: .5s;
}
#Navbar .navdiv ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #02dde0;
  transition: 0.3s;
  padding: 3px 12px;
  border-bottom: 1px solid transparent;
}
#Navbar .navdiv ul li a:hover {
  color: #1cfbff;
}
#Navbar .navdiv ul .active a {
  color: #1cfbff;
}
#Navbar .navdiv ul li:hover {
  transform: scale(1.07);
}
#Navbar .navdiv ul li:hover a {
  border-bottom: 1px solid #1cfbff;
}
#Navbar .nav-body {
  font-family: "Montserrat Alternates", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
#Navbar .nav-body h1 {
  font-weight: 700;
  font-size: 3.125rem;
  color: white;
}
#Navbar .nav-body p {
  font-weight: 500;
  font-size: 1.875rem;
  color: white;
}
#Navbar .nav-body a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.313rem;
  color: white;
  background-color: #02dde0;
  padding: 10px 38px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: 0.3s;
}
#Navbar .nav-body a:hover {
  color: #02dde0;
  background-color: white;
}
.NavbarOther {
  height: auto !important;
}
@media screen and (max-width: 992px) {
  #Navbar .navdiv {
    position: relative;
  }
  #Navbar .navdiv ul {
    margin-top: 15px;
    position: absolute;
    top: -1000px;
    width: 100%;
    display: block;
    list-style: none;
    text-align: center;
    background-color: #019194;
    padding: 15px;
    opacity: 1;
    z-index: 9;
    border-radius: 0 0 15px 15px;
  }
  #Navbar .navdiv ul li {
    display: block;
    padding: 10px 15px;
  }
  #Navbar .navdiv .menu-responsive {
    top: 94.9px;
  }
  #Navbar .navdiv .is-active span:nth-child(2) {
    opacity: 0;
  }
  #Navbar .navdiv .is-active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  #Navbar .navdiv .is-active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  #Navbar .navdiv #navbut {
    display: inline-block;
  }
}
@media all and (max-width: 767px) {
  #Navbar .navdiv {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #Navbar .navdiv .logo {
    width: 50px;
  }
  #Navbar .navdiv .logo img {
    width: 100%;
    object-fit: contain;
  }
  #Navbar .navdiv .menu-responsive {
    top: 57.9px;
  }
  #Navbar .navdiv #navbut {
    padding: 4px 0;
  }
  #Navbar .navdiv #navbut span {
    margin: 6px 0;
    width: 28px;
    height: 3px;
  }
  #Navbar .nav-body {
    padding: 10vh 2vw;
  }
  #Navbar .nav-body h1 {
    font-size: 2.1rem;
  }
  #Navbar .nav-body p {
    font-size: 1rem;
  }
  #Navbar .nav-body a {
    font-size: 0.8rem;
  }
}
#about {
  padding: 10vh 0;
}
#about .row {
  padding: 0 20px;
}
#about .about-head {
  padding: 5vh 0;
  box-shadow: 0 0 3px #019194;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
  border-radius: 15px;
}
#about .about-head h2 {
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 2.313rem);
  color: #029ea1;
}
#about .about-head .who {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about-head .who span {
  margin: 5px;
}
#about .about-head .who span:nth-child(1) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #00adac;
}
#about .about-head .who span:nth-child(2) {
  display: inline-block;
  font-weight: 400;
  font-size: 1.313rem;
  color: #00adac;
}
#about .about-head .who span:nth-child(3) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #00adac;
}
#about .about-head .about-content {
  margin-top: 4vh;
  font-weight: 400;
  font-size: 1.313rem;
  padding: 0 5vw;
  text-align: justify;
  color: #00adac;
}
#about .about-head .about-content p {
  text-indent: 50px;
}
#about .about-head a {
  display: inline-block;
  margin-top: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: white;
  background-color: #029ea1;
  padding: 10px 25px;
  border-radius: 25px;
  border: 1px solid #029ea1;
  transition: 0.5s;
}
#about .about-head a:hover {
  color: #029ea1;
  background-color: white;
}
#skills {
  background-color: #019194;
  padding: 10vh 0;
  font-family: "Montserrat Alternates", sans-serif;
}
#skills .skills-name {
  text-align: center;
}
#skills .skills-name h1 {
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 2.313rem);
  color: white;
}
#skills .skills-name .what {
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills .skills-name .what span {
  margin: 5px;
}
#skills .skills-name .what span:nth-child(1) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}
#skills .skills-name .what span:nth-child(2) {
  display: inline-block;
  font-weight: 400;
  font-size: 1.222rem;
  color: white;
  border-radius: 2px;
}
#skills .skills-name .what span:nth-child(3) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}
#skills .skills-left {
  color: white;
  margin: 2vh 0;
  padding: 2vh 4vw;
}
#skills .skills-left h1 {
  font-weight: 500;
  font-size: 1.875rem;
}
#skills .skills-left .readmore {
  position: relative;
  padding: 2vh 0;
  font-weight: 400;
  font-size: 1.063rem;
  text-align: justify;
  height: 140px;
  overflow: hidden;
  transition: 0.3s;
}
#skills .skills-left .readmore::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(transparent, #019194);
}
#skills .skills-left a::before {
  content: "Read more";
}
#skills .skills-left a {
  display: inline-block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background-color: #02dde0;
  padding: 7px 21px;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 0 10px grey;
  cursor: pointer;
}
#skills .skills-left a:hover {
  color: #02dde0;
  background-color: white;
}
#skills .skills-left .is-active::before {
  transition: 0.3s;
}
#skills .skills-left .is-active {
  height: auto;
  overflow: none;
}
#skills .skills-left .active::before {
  content: "Read less";
}
#skills .skills-left .active {
  background-color: white;
  color: #02dde0;
}
#skills .skills-left .active:hover {
  background-color: #02dde0;
  color: white;
}
#skills .skills-right {
  margin: 2vh 0;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#skills .skills-right .skill-item {
  margin-bottom: 12px;
  box-shadow: 0 0 4px white;
  padding: 8px 15px;
  border-radius: 23px;
  opacity: 0.9;
  transition: 0.3s;
}
#skills .skills-right .skill-item .skill-item-head {
  display: block;
}
#skills .skills-right .skill-item .skill-item-head span:nth-child(1) {
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 0.938rem;
}
#skills .skills-right .skill-item .skill-item-head span:nth-child(2) {
  display: inline-block;
  float: right;
  color: white;
  font-weight: 400;
  font-size: 0.938rem;
}
#skills .skills-right .skill-item .skill-item-body {
  position: relative;
  height: 5px;
  background-color: white;
  border-radius: 5px;
}
#skills .skills-right .skill-item .skill-item-body span {
  position: absolute;
  display: inline-block;
  width: 95%;
  height: 100%;
  border-radius: 5px;
  background-color: #02dde0;
}
#skills .skills-right .skill-item .skill-item-body .skill-tech-2 {
  width: 90%;
}
#skills .skills-right .skill-item .skill-item-body .skill-tech-3 {
  width: 80%;
}
#skills .skills-right .skill-item .skill-item-body .skill-tech-4 {
  width: 85%;
}
#skills .skills-right .skill-item .skill-item-body .skill-tech-5 {
  width: 80%;
}
#skills .skills-right .skill-item .skill-item-body .skill-tech-6 {
  width: 50%;
}
#skills .skills-right .skill-item .skill-item-body .skill-tech-7 {
  width: 80%;
}
#skills .skills-right .skill-item:hover {
  transform: scale(1.05);
  opacity: 1;
}
#contact {
  padding: 10vh 0;
  background-color: white;
  font-family: "Montserrat Alternates", sans-serif;
}
#contact .contact-name {
  text-align: center;
  padding-bottom: 5vh;
}
#contact .contact-name h1 {
  font-weight: 700;
  font-size: clamp(1.8rem, 3vw, 2.313rem);
  color: #019194;
}
#contact .contact-name .keep {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .contact-name .keep span {
  margin: 5px;
}
#contact .contact-name .keep span:nth-child(1) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #00adac;
}
#contact .contact-name .keep span:nth-child(2) {
  display: inline-block;
  font-weight: 400;
  font-size: 1.222rem;
  color: #00adac;
}
#contact .contact-name .keep span:nth-child(3) {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #00adac;
}
#contact .contact-left {
  margin-top: 6vh;
  list-style: none;
  padding: 0;
}
#contact .contact-left .left-head {
  margin-bottom: 30px;
}
#contact .contact-left .left-head h4 {
  font-weight: 500;
  font-size: 1.875rem;
  color: #019194;
}
#contact .contact-left li {
  margin-bottom: 12px;
  transition: 0.3s;
}
#contact .contact-left li i {
  display: inline-block;
  width: 25px;
  height: 100%;
  vertical-align: super;
  font-size: 1.875rem;
  color: #019194;
  transition: 0.3s;
  text-align: center;
  margin-right: 15px;
}
#contact .contact-left li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.063rem;
  color: #019194;
  transition: 0.3s;
}
#contact .contact-left li:hover {
  transform: scale(1.02);
}
#contact .contact-left li:hover i {
  color: #02dde0;
}
#contact .contact-left li:hover a {
  color: #02dde0;
}
#contact .social-div {
  margin-top: 20px;
}
#contact .social-div a {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  font-size: 1.563rem;
  font-weight: 400;
  border-radius: 50%;
  box-shadow: 0 0 4px black;
}
#contact .social-div .s-whatsapp {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-whatsapp:hover {
  color: white;
  background-color: #25d366;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .social-div .s-insta {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-insta:hover {
  color: white;
  background-color: #8a3ab9;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .social-div .s-linkedin {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-linkedin:hover {
  color: white;
  background-color: #0077b5;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .social-div .s-facebook {
  color: #019194;
  background-color: white;
  border: 2px solid #019194;
  transition: 0.3s;
}
#contact .social-div .s-facebook:hover {
  color: white;
  background-color: #105792;
  border: 2px solid white;
  transform: rotate(360deg);
}
#contact .contact-right {
  margin: 3vh 0;
  box-shadow: 0 0 5px #019194;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}
#contact .contact-right .right-head {
  margin-bottom: 30px;
}
#contact .contact-right .right-head h4 {
  font-weight: 500;
  font-size: 1.875rem;
  color: #019194;
}
#contact .contact-right form input {
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 5px #019194;
  color: #02dde0;
  font-weight: 400;
  font-size: 1.063rem;
}
#contact .contact-right form .first-row .f-name {
  width: 49%;
  height: 32px;
  padding-left: 10px;
}
#contact .contact-right form .first-row .f-email {
  width: 49%;
  float: right;
  height: 32px;
  padding-left: 10px;
}
#contact .contact-right form .f-subject {
  width: 100%;
  margin-top: 20px;
  height: 32px;
  padding-left: 10px;
}
#contact .contact-right form .f-message {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #02dde0;
  font-weight: 400;
  font-size: 1.063rem;
  box-shadow: 0 0 5px #019194;
}
#contact .contact-right form ::placeholder {
  color: #02dde0;
}
#contact .contact-right form .sub-but {
  margin-top: 10px;
  padding: 5px 15px;
  background-color: white;
  color: #02dde0;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  transition: 0.3s;
}
#contact .contact-right form .sub-but:hover {
  background-color: #02dde0;
  color: white;
}
#contact .contact-right:hover {
  transform: scale(1.02);
}
#copyright {
  background-color: #026E70;
  font-size: 0.8rem;
}
#copyright .copyright {
  text-align: center;
  padding: 10px;
  color: white;
}
#copyright .copyright span:nth-child(1) {
  color: #02dde0;
}
#copyright .copyright span:nth-child(2) {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: white;
  margin: 0 3px;
}
#copyright .copyright i {
  padding: 0 2px;
}
.loader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}
.loader .first {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: transparent;
  animation: loading 0.8s infinite linear;
  border-radius: 50%;
  border: 12px solid #1cfbff;
  border-top: 12px solid #02dde0;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@media all and (max-width: 767px) {
  .loader .first {
    width: 90px;
    height: 90px;
    border: 8px solid #1cfbff;
    border-top: 8px solid #02dde0;
  }
}
@media all and (max-width: 767px) {
  #about {
    padding: 3vh 0px;
  }
  #about .row {
    padding: 0;
  }
  #about .about-head {
    padding: 3vh 0;
  }
  #about .about-head h2 {
    font-size: 2.063rem;
  }
  #about .about-head .who span {
    margin: 5px;
  }
  #about .about-head .who span:nth-child(2) {
    font-size: 1.125rem;
  }
  #about .about-head .about-content {
    margin-top: 3vh;
    font-size: 1rem;
  }
  #about .about-head .about-content p {
    text-indent: 40px;
    margin-bottom: 0;
  }
  #about .about-head a {
    margin-top: 12px;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 0.938rem;
  }
  #skills {
    padding: 6vh 0;
    padding-bottom: 4vh;
  }
  #skills .skills-name h1 {
    font-size: 2.063rem;
  }
  #skills .skills-name .what span:nth-child(2) {
    font-size: 1.125rem;
  }
  #skills .skills-left h1 {
    font-size: 1.75rem;
  }
  #skills .skills-left .readmore {
    padding: 2vh 0;
    font-size: 1rem;
  }
  #skills .skills-left a {
    margin-top: 8px;
    font-size: 0.938rem;
    padding: 5px 16px;
    border-radius: 20px;
  }
  #skills .skills-right {
    margin: 1vh 0;
    padding: 1vh 2vw;
  }
  #skills .skills-right .skill-item {
    margin-bottom: 10px;
  }
  #skills .skills-right .skill-item .skill-item-body {
    height: 4px;
  }
  #contact {
    padding: 6vh 0;
  }
  #contact .col-md-5 {
    order: 1;
  }
  #contact .contact-name {
    padding: 0;
  }
  #contact .contact-left {
    padding-left: 20px;
  }
  #contact .social-div {
    text-align: center;
    padding-left: 0px;
  }
  #contact .contact-right {
    margin-top: 6vh;
  }
}
