/* fonts starts */

@font-face {
    font-family: Montserrat-Medium;
    src: url("fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}

$ff-mont-med : Montserrat-Medium;
$ff-mont-reg : Montserrat-Regular;
/* fonts ends */


// weight
$fw-500: 500;

// font-size
$fs-10: 0.625rem;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem;
$fs-15: 0.938rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-19: 1.188rem;
$fs-21: 1.313rem;
$fs-24: 1.5rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-40: 2.5rem;
$fs-45: 2.8125rem;
$fs-64: 4rem;

// color
$col-nav-hover: #999;
$col-nav-drop-back: #111;
$col-nav-drop-back-hover: #05080a;
$col-foot-social: #EFEFEF;
$col-card-item: #464646;
$col-card-social-hover: #FF6600;
$col-galery-hover-text: #333;