@font-face {
    font-family: tt-regular;
    src: url(fonts//tt-fors/TT_fors_regular.ttf);
}

@font-face {
    font-family: tt-medium;
    src: url(fonts/tt-fors/TT_fors_medium.ttf);
}

@font-face {
    font-family: tt-semibold;
    src: url(fonts/tt-fors/TT_fors_semibold.ttf);
}

@font-face {
    font-family: tt-bold;
    src: url(fonts/tt-fors/TT_fors_bold.ttf);
}

$fs10: 10px;
$fs12: 12px;
$fs14: 14px; //
$fs15: 15px; //
$fs16: 16px; //
$fs18: 18px; //
$fs20: 20px;
$fs22: 22px; //
$fs24: 24px; //
$fs26: 26px; //
$fs28: 28px; //
$fs30: 30px; //
$fs32: 32px;
$fs34: 34px; //
$fs36: 36px;

$col-main: #E30A17;

.list_reset {
    list-style-type: none;
    margin: 0;
}

@mixin transitionTime($time: 0.4s) {
    transition: all ease $time;
}

@mixin lineLimit($line: 1) {
    -webkit-line-clamp: $line !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    overflow: hidden !important;
}