@import 'common';


@media screen and (max-width: 1199.9px) {
    #etilerHeader {
        .etilerHeader {
            .etilerHeaderCarousel {
                height: 100%;
                position: relative;

                .owl-stage-outer {
                    height: 100%;

                    .owl-stage {
                        height: 100%;

                        .owl-item {
                            height: 100%;
                        }
                    }
                }

                .owl-dots {
                    position: absolute;
                    bottom: 4vh;
                    left: 50%;
                    transform: translateX(-50%);

                    .owl-dot {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        margin: 0 5px;

                        span {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            background-color:
                                #D9D9D9;

                        }
                    }

                    .active {
                        span {
                            background-color: #000;
                        }
                    }
                }

                .etilerHeaderCarouselItem {
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                }
            }

            #etilerHeaderMenuBlock {

                .etilerHeaderMenuBlock {
                    padding: 4px 18px;

                    .etilerMenuDesk {
                        font-size: $fs18;
                    }

                    .etilerHeaderMenuBlockRight {
                        .etilerMenuDesk1 {
                            font-size: $fs18;
                        }
                    }

                    .etilerLogo {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991.9px) {
    #etilerHeader {
        .etilerHeader {
            #etilerHeaderMenuBlock {
                .etilerHeaderMenuBlock {
                    padding-left: 0;
                    padding-right: 5px;

                    .etilerMenuDesk {
                        display: none;
                    }

                    .etilerHeaderMenuBlockRight {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding-left: 5px;

                        .etilerMenuDesk1 {
                            display: none;
                        }

                        #etilermobMenuButton {
                            display: flex;
                        }

                        .etilerHeaderSocialBLock {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // about
    #about {
        .aboutBlock {

            .aboutBody {
                flex-wrap: wrap;

                .aboutBodyLeft {
                    width: 100%;

                    .aboutBodyLeftImg {
                        border-radius: 10px;
                    }

                    .aboutBodyLeftContent {
                        padding: 15px 0;
                    }
                }

                .aboutBodyRight {
                    width: 100%;
                    height: 329px;
                    border-radius: 10px;
                }
            }
        }
    }

    // blog
    #blog {
        .blogBlock {
            padding-bottom: 100px;

            .blogHead {
                .blogName {
                    font-size: $fs30;
                }

                .blogHeadCarouselBlock {
                    .blogHeadCarousel {

                        .blogHeadCarouselItem {
                            margin: 0 -5px;

                            .blogHeadCarouselItemLeft {
                                width: 40%;
                                height: 280px;
                                padding: 5px;

                                .blogHeadCarouselItemFirst {

                                    .blogHeadCarouselItemFirstContent {

                                        .blogHeadCarouselItemFirstContent1 {
                                            font-size: $fs16;
                                        }

                                        .blogHeadCarouselItemFirstContent2 {
                                            font-size: $fs14;
                                        }
                                    }
                                }
                            }

                            .blogHeadCarouselItemright {
                                height: 280px;
                                padding: 0 5px;

                                .blogHeadCarouselItemrightItem {
                                    .blogHeadCarouselItemrightItemBlock {
                                        .blogHeadCarouselItemrightItemBlockContent {
                                            padding: 10px;

                                            .blogHeadCarouselItemrightItemBlockContent1 {
                                                font-size: $fs16;
                                                line-height: 16px;
                                                margin-bottom: 5px;
                                            }

                                            .blogHeadCarouselItemrightItemBlockContent2 {
                                                font-size: $fs14;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .blogBody {

                .blogBodyLeft {
                    height: 300px;
                }

                .blogBodyRight {
                    height: auto;
                    padding: 20px 0 10px 0;

                    .blogBodyRightContentName {
                        font-size: $fs28;
                    }

                    .blogBodyRightContentText {
                        font-size: $fs16;
                    }
                }
            }
        }
    }

    // franhise
    #franchise {
        .franchise {
            .franchiseForm {
                margin-top: 40px;
            }
        }
    }

    // contact
    #contact {
        .contact {
            .contactMessage {
                margin-top: 40px;
            }
        }
    }

    //  galery
    #etiGalery {
        .etiGalery {
            padding: 25px 28px;

            .etiGaleryName {
                font-size: $fs30;
            }

            .etiGaleryBody {
                .etiGaleryItem {
                    height: 180px;
                }
            }
        }
    }

    // branch
    #branch {
        .branch {
            padding: 26px 24px;

            .branchName {
                font-size: $fs30;
            }

            .branchBody {
                margin-top: 15px;

                .col-lg-5 {
                    order: 2;
                }

                .col-lg-7 {
                    order: 1;
                }

                .branchBodyLeft {
                    margin-top: 25px;
                }

                .branchBodyRight {

                    #branchMap {
                        height: 330px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.9px) {
    #etilerHeader {
        .etilerHeader {

            #etilerHeaderMenuBlock {

                .etilerHeaderMenuBlock {

                    .etilerLogo {
                        width: 85px;
                        height: 85px;
                    }
                }
            }
        }
    }

    // about
    #about {
        .aboutBlock {
            padding: 20px 18px;

            .aboutHead {
                .aboutName {
                    font-size: $fs24;
                }

                .aboutContentOne {
                    font-size: $fs16;
                }
            }

            .aboutBody {
                .aboutBodyLeft {

                    .aboutBodyLeftImg {
                        height: 240px;
                    }

                    .aboutBodyLeftContent {
                        font-size: $fs16;
                        padding: 10px 0;
                        margin-bottom: 2px;
                    }

                }

                .aboutBodyRight {
                    height: 240px;
                }
            }
        }
    }

    // blog
    #blog {
        .blogBlock {
            padding-bottom: 100px;

            .blogHead {
                .blogName {
                    font-size: $fs26;
                }

                .blogHeadCarouselBlock {
                    .blogHeadCarousel {

                        .blogHeadCarouselItem {
                            margin: 0 -5px;

                            .blogHeadCarouselItemLeft {
                                width: 100%;
                                height: 280px;
                                padding: 5px;

                                .blogHeadCarouselItemFirst {

                                    .blogHeadCarouselItemFirstContent {

                                        .blogHeadCarouselItemFirstContent1 {
                                            font-size: $fs16;
                                        }

                                        .blogHeadCarouselItemFirstContent2 {
                                            font-size: $fs14;
                                        }
                                    }
                                }
                            }

                            .blogHeadCarouselItemright {
                                height: 280px;
                                padding: 0 5px;
                                display: none;

                                .blogHeadCarouselItemrightItem {
                                    .blogHeadCarouselItemrightItemBlock {
                                        .blogHeadCarouselItemrightItemBlockContent {
                                            padding: 10px;

                                            .blogHeadCarouselItemrightItemBlockContent1 {
                                                font-size: $fs16;
                                                line-height: 16px;
                                                margin-bottom: 5px;
                                            }

                                            .blogHeadCarouselItemrightItemBlockContent2 {
                                                font-size: $fs14;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .blogBody {
                .blogBodyLeft {
                    height: 280px;
                }

                .blogBodyRight {
                    height: auto;
                    padding: 17px 0 10px 0;

                    .blogBodyRightContentName {
                        font-size: $fs22;
                    }
                }
            }
        }
    }

    // franhise
    #franchise {
        .franchise {

            padding: 20px 18px;

            .franchiseName {
                font-size: $fs24;
            }

            .franchiseLeft {


                .franchiseLeftContent {
                    margin-top: 15px;
                    font-size: $fs16;
                }

                .franchiseLeftImg {
                    margin-top: 20px;
                    height: 280px;
                }
            }

            .franchiseForm {

                margin-top: 20px;
                padding: 16px 20px;

                .franchiseFormName {
                    font-size: $fs24;
                }

                .franchiseFormInputDes {
                    margin-top: 10px;

                    input {
                        padding: 5px 15px;
                    }
                }

                .franchiseFormSelectDes {

                    .dropdown-toggle {
                        font-size: $fs16;
                        padding: 5px 10px;
                    }

                    .dropdown-menu {

                        li {
                            font-size: $fs16;
                        }
                    }
                }

                .franchiseFormTextareaDes {
                    margin-top: 10px;

                    textarea {
                        padding: 10px 15px;

                    }
                }

                .formConfirm {
                    margin-top: 15px;

                    .formConfirmcheckbox {

                        .checkbox__mark {
                            position: relative;
                            width: 1.7rem;
                            height: 1.7rem;
                            border: 0.1rem solid #BEBEBE;
                            border-radius: 7px;
                        }
                    }

                    .formConfirmtext {
                        font-size: $fs14;
                    }
                }


                .formSubButBlock {
                    margin-top: 25px;

                    #formSubBut {
                        font-size: $fs20;
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    // franhise
    #contact {
        .contact {

            padding: 20px 18px;

            .contactName {
                font-size: $fs24;
            }

            .contactLeft {

                .contactMap {
                    height: 280px;
                }

                .contactLeftFooter {
                    padding: 20px 15px;

                    .contactLeftFooterHead {
                        font-size: $fs20;
                        padding: 5px 0;
                    }

                    .contactLeftFooterList {

                        .contactLeftFooterListItem {
                            margin-top: 7px;
                            flex-wrap: wrap;

                            .contactLeftFooterListItemIcon {
                                margin-right: 10px;
                            }

                            .contactLeftFooterListItemContent {
                                font-size: $fs15;
                                color: #fff;


                                span {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .contactMessage {

                margin-top: 20px;
                padding: 16px 20px;

                .contactMessageName {
                    font-size: $fs24;
                }

                .contactMessageInputDes {
                    margin-top: 10px;

                    input {
                        padding: 5px 15px;
                    }
                }

                .contactMessageSelectDes {

                    .dropdown-toggle {
                        font-size: $fs16;
                        padding: 5px 10px;
                    }

                    .dropdown-menu {

                        li {
                            font-size: $fs16;
                        }
                    }
                }

                .contactMessageTextareaDes {
                    margin-top: 10px;

                    textarea {
                        padding: 10px 15px;

                    }
                }

                .contactMessageConfirm {
                    margin-top: 15px;

                    .contactMessageConfirmcheckbox {

                        .checkbox__mark {
                            position: relative;
                            width: 1.7rem;
                            height: 1.7rem;
                            border: 0.1rem solid #BEBEBE;
                            border-radius: 7px;
                        }
                    }

                    .contactMessageConfirmtext {
                        font-size: $fs14;
                    }
                }


                .contactMessageSubButBlock {
                    margin-top: 25px;

                    #contactMessageSubBut {
                        font-size: $fs20;
                        padding: 5px 0;
                    }
                }
            }
        }
    }

    //  galery
    #etiGalery {
        .etiGalery {
            padding: 25px 28px;

            .etiGaleryName {
                font-size: $fs24;
            }

            .etiGaleryBody {
                .etiGaleryItem {
                    height: 180px;
                    margin-bottom: 12px;
                }
            }
        }
    }

    // galery
    .gallery {
        padding: 3rem 0;

        .gallery__controls {
            .controls__btn__close {
                top: 10px;
                right: 10px;
            }
        }
    }

    // branch
    #branch {
        .branch {
            padding: 20px 18px;

            .branchName {
                font-size: $fs26;
            }

            .branchBody {

                .branchBodyLeft {
                    margin-top: 25px;

                    .branchBodyLeftHead {
                        .branchSelectDes {
                            margin-bottom: 15px;

                            .dropdown-toggle {
                                font-size: $fs16;
                                padding: 8px 10px;
                            }

                            .dropdown-menu {

                                li {
                                    font-size: $fs16;
                                    padding: 3px 0;
                                }
                            }
                        }
                    }

                    .branchBodyLeftBody {
                        padding: 12px 20px;
                        margin-top: 30px;

                        .branchBodyLeftBodyHead {
                            font-size: $fs22;
                            padding: 6px 0;
                        }

                        .branchBodyLeftBodyList {

                            .branchBodyLeftBodyListItem {
                                margin-top: 7px;

                                .branchBodyLeftBodyListItemIcon {
                                    margin-right: 10px;
                                }

                                .branchBodyLeftBodyListItemContent {
                                    font-size: $fs16;
                                }
                            }
                        }
                    }
                }

                .branchBodyRight {
                    #branchMap {
                        height: 220px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 567.9px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 360px) {

    // branch
    #branch {
        .branch {
            .branchName {
                font-size: $fs24;
            }

            .branchBody {
                .branchBodyLeft {
                    .branchBodyLeftBody {
                        .branchBodyLeftBodyList {
                            .branchBodyLeftBodyListItem {
                                .branchBodyLeftBodyListItemContent {
                                    font-size: $fs15;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}