@import 'common';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.load-wraper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(211, 211, 211);
    z-index: -1;
    overflow: hidden;
    border-radius: 5px;

    .activity {
        position: absolute;
        left: -45%;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
        background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
        background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
        animation: loading 1s infinite;
        z-index: -1;
    }

    @keyframes loading {
        0% {
            left: -45%;
        }

        100% {
            left: 100%;
        }
    }
}

.etilerMobileMenu {
    position: fixed;
    top: 0;
    left: -2000px;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-color: $col-main;
    z-index: 1001;
    @include transitionTime($time: 0.6s);

    #closeMobileMenu {
        background: $col-main;
        outline: none;
        border: none;
        position: absolute;
        top: 30px;
        right: 30px;

        svg {
            @include transitionTime();
        }
    }

    #closeMobileMenu:hover {
        svg {
            transform: rotate(90deg);
        }
    }

    .etilerMobileMenuHead {
        background-color: $col-main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: white;
        border-radius: 25px;
        position: relative;
        margin-top: 80px;
        height: 40px;

        .etilerMobileMenuHeadLogo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 90px;
            padding: 8px;
            background-color: white;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

            img {
                width: 90%;
                height: 90%;
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }


    }

    .etilerMobileMenuBody {
        ul {
            margin-top: 45px;
            text-align: center;

            li {
                display: flex;
                justify-content: center;
                font-family: tt-medium;
                font-size: $fs18;

                @include transitionTime();
                margin-top: 10px;

                a {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    color: white;
                    text-decoration: none;
                    padding: 5px;
                    border-radius: 25px;
                    @include transitionTime();

                }
            }

            .active {
                a {
                    transform: scale(1.03);
                    background-color: white;
                    color: $col-main;

                }
            }

            li:hover {


                a {
                    transform: scale(1.03);
                    background-color: white;
                    color: $col-main;

                }
            }
        }
    }

    .etilerMobileMenuSocial {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        padding-bottom: 40px;

        li {
            padding: 0 10px;

            a {
                display: inline-block;
                @include transitionTime();
            }
        }

        li:hover {
            a {
                transform: scale(1.03);
            }
        }
    }
}

.etilerMobileMenuOpen {
    left: 0;
    visibility: visible;
    opacity: 1;
}

#etilerHeader {
    height: 100vh;
    position: relative;

    .etilerHeader {
        height: 100%;

        .etilerHeaderCarousel {
            height: 100%;
            position: relative;

            .owl-stage-outer {
                height: 100%;

                .owl-stage {
                    height: 100%;

                    .owl-item {
                        height: 100%;
                    }
                }
            }

            .owl-dots {
                position: absolute;
                bottom: 4vh;
                left: 50%;
                transform: translateX(-50%);

                .owl-dot {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    margin: 0 5px;

                    span {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-color:
                            #D9D9D9;

                    }
                }

                .active {
                    span {
                        background-color: #000;
                    }
                }
            }

            .etilerHeaderCarouselItem {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
            }
        }

        #etilerHeaderMenuBlock {
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100%;
            z-index: 1000;

            .etilerHeaderMenuBlock {
                background-color: $col-main;
                border-radius: 59px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 5px 20px;

                .etilerMenuDesk {
                    width: 50%;
                    padding: 0 80px 0 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: tt-medium;
                    font-size: $fs22;
                    text-transform: capitalize;


                    li {
                        margin-right: 7px;
                        padding: 5px 0;
                        overflow: hidden;

                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                    li:after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: white;
                        @include transitionTime();
                    }

                    li:hover:after {
                        width: 100%;
                    }

                    .active:after {
                        content: "";
                        display: block !important;
                        width: 100% !important;
                        height: 2px !important;
                        background-color: white !important;
                        @include transitionTime();
                    }
                }

                .etilerHeaderMenuBlockRight {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5px 0 80px;

                    .etilerMenuDesk1 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-family: tt-medium;
                        font-size: $fs22;
                        text-transform: capitalize;

                        text-decoration: none;

                        li {
                            margin-right: 15px;
                            padding: 5px 0;

                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }

                        li:after {
                            content: "";
                            display: block;
                            width: 0;
                            height: 2px;
                            background-color: white;
                            @include transitionTime();
                        }

                        li:hover:after {
                            width: 100%;
                        }

                        .active:after {
                            content: "";
                            display: block !important;
                            width: 100% !important;
                            height: 2px !important;
                            background-color: white !important;
                            @include transitionTime();
                        }
                    }

                    #etilermobMenuButton {
                        border: none;
                        outline: none;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }

                    .etilerHeaderLanguage {
                        display: flex;
                        // .etilerHeaderLanguageIcon {}

                        .etilerHeaderLanguageSelect {
                            // .lang-selectpicker {}
                            position: relative;

                            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                                width: 60px;
                                display: flex;
                            }

                            img {
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                pointer-events: none;
                            }

                            .dropdown-toggle {
                                background: none;
                                border: none;
                                font-family: tt-semibold;
                                font-size: $fs18;
                                color: white;
                                padding: 0;
                                display: flex;

                                .filter-option {
                                    text-align: left;
                                    padding-left: 10px;
                                }
                            }

                            .dropdown-toggle:focus {
                                box-shadow: none;
                                outline: 0 !important;

                            }

                            .dropdown-toggle::after {
                                display: none;
                            }

                            .dropdown-menu {
                                border: none;
                                border-radius: 0 0 5px 5px;

                                li {
                                    font-family: tt-regular;
                                    font-size: $fs18;
                                    text-align: center;

                                    a {
                                        span {
                                            color: red;
                                        }
                                    }
                                }

                                li:hover {
                                    background-color: red;

                                    a {
                                        span {
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .etilerHeaderSocialBLock {
                        .etilerHeaderSocial {
                            display: flex;
                            align-items: center;

                            li {
                                margin-right: 12px;

                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }

                .etilerLogo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 140px;
                    height: 140px;
                    background-color: white;

                    img {
                        width: 85%;
                        height: 85%;
                        border-radius: 50%;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}

#footer {
    margin-top: 50px;
    text-align: center;
    background-color: $col-main;
    padding: 60px 0 12px 0;

    .footerLogoBlock {
        display: flex;
        justify-content: center;
        align-items: center;

        .footerLogo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            img {
                width: 85%;
                height: 85%;
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .copyriter {
        margin-top: 20px;
        color: white;
        font-family: tt-medium;
        font-size: $fs16;

        a {
            color: white;
            display: inline-block;
            padding-bottom: 2px;
            border-bottom: 1px solid white;
            text-decoration: none;
        }
    }
}

// about
#about {
    .aboutBlock {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px 15px 0 0;
        padding: 30px 28px;
        background-color: white;
        position: relative;
        top: -150px;
        z-index: 1;

        .aboutHead {
            .aboutName {
                font-family: tt-semibold;
                font-size: $fs34;
                color: #000;
            }

            .aboutContentOne {
                font-family: tt-regular;
                font-size: $fs18;
                color: #000;
            }
        }

        .aboutBody {
            display: flex;

            .aboutBodyLeft {
                width: 50%;

                .aboutBodyLeftImg {
                    height: 329px;
                    border-radius: 15px 0 0 15px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .aboutBodyLeftContent {
                    font-family: tt-regular;
                    font-size: $fs18;
                    color: #000;
                    padding: 20px 20px 0 0;
                }

            }

            .aboutBodyRight {
                width: 50%;
                border-radius: 0 15px 15px 15px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover
                }
            }
        }
    }
}

// blog
#blog {
    .blogBlock {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px 15px 0 0;
        padding: 30px 28px;
        padding-bottom: 100px;
        background-color: white;
        position: relative;
        top: -150px;
        z-index: 1;

        .blogHead {
            .blogName {
                font-family: tt-semibold;
                font-size: $fs34;
                color: #000;
            }

            .blogHeadCarouselBlock {
                .blogHeadCarousel {
                    padding-bottom: 80px;
                    border-bottom: 1px solid #ECECEC;

                    .blogHeadCarouselItem {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 -10px;


                        .blogHeadCarouselItemLeft {
                            width: 40%;
                            height: 430px;
                            padding: 10px;

                            .blogHeadCarouselItemFirst {
                                height: 100%;
                                border-radius: 25px;
                                overflow: hidden;
                                position: relative;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                                .blogHeadCarouselItemFirstContent {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    bottom: 0;
                                    background-color: rgba(0, 0, 0, 0.2);
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-end;
                                    padding: 15px;

                                    .blogHeadCarouselItemFirstContent1 {
                                        font-family: tt-medium;
                                        font-size: $fs18;
                                        color: #fff;
                                        margin-bottom: 5px;
                                        @include lineLimit();
                                    }

                                    .blogHeadCarouselItemFirstContent2 {
                                        font-family: tt-regular;
                                        font-size: $fs14;
                                        color: #fff;
                                        margin-bottom: 5px;
                                        @include lineLimit();
                                    }
                                }
                            }
                        }

                        .blogHeadCarouselItemright {
                            width: 60%;
                            height: 430px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: flex-start;
                            padding: 0 10px;

                            .blogHeadCarouselItemrightItem {
                                width: calc(100% / 3);
                                height: 50%;
                                padding: 10px;

                                .blogHeadCarouselItemrightItemBlock {
                                    height: 100%;
                                    border-radius: 25px;
                                    overflow: hidden;
                                    position: relative;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover
                                    }

                                    .blogHeadCarouselItemrightItemBlockContent {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        left: 0;
                                        bottom: 0;
                                        background-color: rgba(0, 0, 0, 0.2);
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        padding-left: 15px;
                                        padding-bottom: 15px;

                                        .blogHeadCarouselItemrightItemBlockContent1 {
                                            font-family: tt-medium;
                                            font-size: $fs18;
                                            color: #fff;
                                            margin-bottom: 5px;
                                            @include lineLimit($line: 2);
                                        }

                                        .blogHeadCarouselItemrightItemBlockContent2 {
                                            font-family: tt-regular;
                                            font-size: $fs14;
                                            color: #fff;
                                            margin-bottom: 5px;
                                            @include lineLimit();
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .owl-stage-outer {
                        height: 100%;

                        .owl-stage {
                            height: 100%;

                            .owl-item {
                                height: 100%;
                            }
                        }
                    }

                    .owl-dots {
                        position: absolute;
                        bottom: 30px;
                        left: 50%;
                        transform: translateX(-50%);

                        .owl-dot {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            margin: 0 5px;

                            span {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                background-color:
                                    #D9D9D9;

                            }
                        }

                        .active {
                            span {
                                background-color: #000;
                            }
                        }
                    }

                    .etilerHeaderCarouselItem {
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover
                        }
                    }
                }
            }
        }

        .blogBody {
            margin-top: 40px;

            .blogBodyLeft {
                height: 350px;
                border-radius: 25px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }
            }

            .blogBodyRight {
                text-align: right;
                height: 350px;
                overflow-y: auto;

                .blogBodyRightContentName {
                    font-family: tt-medium;
                    font-size: $fs34;
                    color: #000;
                }

                .blogBodyRightContentText {
                    font-family: tt-regular;
                    font-size: $fs18;
                    color: #000;
                }
            }
        }
    }
}

//  franchise
#franchise {
    .franchise {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px 15px 0 0;
        padding: 30px 28px;
        background-color: white;
        position: relative;
        top: -150px;
        z-index: 1;

        .franchiseName {
            font-family: tt-semibold;
            font-size: $fs34;
            color: #000;
        }

        .franchiseLeft {
            .franchiseLeftContent {
                margin-top: 15px;
                font-family: tt-regular;
                font-size: $fs18;
                color: #000;
                text-align: justify;
            }

            .franchiseLeftImg {
                margin-top: 30px;
                height: 461px;
                border-radius: 23px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .franchiseForm {
            border: 1px solid #D9D9D9;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            border-radius: 23px;
            overflow: hidden;
            padding: 29px 32px;

            .franchiseFormName {
                font-family: tt-medium;
                color: #000;
            }

            .franchiseFormInputDes {
                margin-top: 15px;
                position: relative;

                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid #D9D9D9;
                    background: white;
                    border-radius: 23px;
                    overflow: hidden;
                    padding: 5px 15px;

                    ::placeholder {
                        color: #BCBCBC;
                    }
                }

                .correctIncorrect {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-check-circle {
                        color: green;
                        display: none;
                    }

                    .fa-exclamation-circle {
                        color: $col-main;
                        display: none;
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }

            }

            .franchiseFormSelectDes {
                margin-top: 15px;
                position: relative;

                .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                    width: 100%;
                    display: flex;
                }

                img {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    pointer-events: none;
                }

                .dropdown-toggle {
                    background: #EDEDED;
                    border: 1px solid #D9D9D9;
                    font-family: tt-regular;
                    font-size: $fs18;
                    color: #A8A8A8;
                    padding: 0;
                    display: flex;
                    padding: 5px 10px;
                    border-radius: 25px;

                    .filter-option {
                        text-align: left;
                        padding-left: 10px;
                    }


                }

                .dropdown-toggle {
                    .inner {
                        border: none;
                    }
                }


                .dropdown-toggle:focus {
                    box-shadow: none;
                    outline: 0 !important;

                }

                .dropdown-toggle::after {
                    display: none;
                }

                .dropdown-menu {
                    border: 1px solid #D9D9D9;
                    border-radius: 0 0 5px 5px;
                    padding: 0;
                    border-radius: 10px;

                    li {
                        font-family: tt-regular;
                        font-size: $fs18;
                        text-align: center;

                        a {
                            display: flex;
                            justify-content: center;
                            text-decoration: none;

                            span {
                                color: #A8A8A8;
                            }
                        }
                    }

                    li:hover {
                        background-color: #EDEDED;

                        a {
                            span {
                                color: white;
                            }
                        }
                    }
                }
            }

            .franchiseFormTextareaDes {
                margin-top: 15px;
                position: relative;

                textarea {
                    width: 100%;
                    outline: none;
                    border: 1px solid #D9D9D9;
                    background: white;
                    border-radius: 23px;
                    overflow: hidden;
                    padding: 10px 15px;

                    ::placeholder {
                        color: #BCBCBC;
                    }
                }

                .correctIncorrect {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-check-circle {
                        color: green;
                        display: none;
                    }

                    .fa-exclamation-circle {
                        color: $col-main;
                        display: none;
                    }
                }
            }

            .formConfirm {
                margin-top: 25px;
                display: flex;
                align-items: center;

                .formConfirmcheckbox {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    cursor: pointer;
                    width: 2rem;
                    margin: 0;
                    margin-right: 8px;

                    input {
                        display: none;
                    }

                    input:checked~.checkbox__mark {
                        background-color: red;
                        border: 0.1rem solid red;
                    }

                    input:checked~.checkbox__mark svg {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }

                    .checkbox__mark {
                        position: relative;
                        width: 1.7rem;
                        height: 1.7rem;
                        border: 0.1rem solid #BEBEBE;
                        border-radius: 7px;

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0.5);
                            width: 68%;
                            height: auto;
                            transition: all ease 0.2s;
                            opacity: 0;

                            path {
                                fill: white
                            }
                        }
                    }
                }

                .formConfirmtext {
                    margin: 0;
                    font-family: tt-regular;
                    font-size: $fs16;
                    color: #000;
                }
            }


            .formSubButBlock {
                margin-top: 36px;

                #formSubBut {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    background: $col-main;
                    border: 1px solid white;
                    outline: none;
                    color: white;
                    font-family: tt-medium;
                    font-size: $fs22;
                    border-radius: 23px;
                    min-width: 100px;
                    padding: 5px 0;
                    @include transitionTime();
                }

                #formSubBut:hover {
                    border: 1.5px solid $col-main;
                    background: white;
                    color: $col-main;
                }
            }

            .success {
                .correctIncorrect {
                    .fa-check-circle {
                        display: inline-block;
                    }
                }
            }

            .incorrect {
                .correctIncorrect {
                    .fa-exclamation-circle {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

//  contact
#contact {
    .contact {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px 15px 0 0;
        padding: 30px 28px;
        background-color: white;
        position: relative;
        top: -150px;
        z-index: 1;

        .contactName {
            font-family: tt-semibold;
            font-size: $fs34;
            color: #000;
        }

        .contactLeft {
            border-radius: 23px;
            overflow: hidden;

            .contactMap {
                width: 100%;
                height: 400px;
                overflow: hidden;
                background-color: grey;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3.625rem;
                color: white;
                font-weight: 700;
            }

            .contactLeftFooter {
                background-color: $col-main;
                padding: 30px 25px;

                .contactLeftFooterHead {
                    font-family: tt-medium;
                    font-size: $fs26;
                    color: #fff;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
                    padding: 8px 0;
                }

                .contactLeftFooterList {

                    .contactLeftFooterListItem {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-top: 10px;

                        .contactLeftFooterListItemIcon {
                            margin-right: 12px;
                        }

                        .contactLeftFooterListItemContent {
                            display: inline-flex;
                            margin: 0;
                            text-decoration: none;
                            font-family: tt-regular;
                            font-size: $fs20;
                            color: #fff;

                            span {
                                display: inline-block;
                                margin-right: 5px;
                                font-family: tt-medium;
                            }
                        }
                    }

                }
            }
        }

        .contactMessage {
            border: 1px solid #D9D9D9;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            border-radius: 23px;
            overflow: hidden;
            padding: 29px 32px;

            .contactMessageName {
                font-family: tt-medium;
                color: #000;
            }

            .contactMessageInputDes {
                margin-top: 15px;
                position: relative;

                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid #D9D9D9;
                    background: white;
                    border-radius: 23px;
                    overflow: hidden;
                    padding: 5px 15px;

                    ::placeholder {
                        color: #BCBCBC;
                    }
                }

                .correctIncorrect {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-check-circle {
                        color: green;
                        display: none;
                    }

                    .fa-exclamation-circle {
                        color: $col-main;
                        display: none;
                    }
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type=number] {
                    -moz-appearance: textfield;
                }
            }

            .contactMessageSelectDes {
                margin-top: 15px;
                position: relative;

                .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                    width: 100%;
                    display: flex;
                }

                img {
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    pointer-events: none;
                }

                .dropdown-toggle {
                    background: #EDEDED;
                    border: 1px solid #D9D9D9;
                    font-family: tt-regular;
                    font-size: $fs18;
                    color: #A8A8A8;
                    padding: 0;
                    display: flex;
                    padding: 5px 10px;
                    border-radius: 25px;

                    .filter-option {
                        text-align: left;
                        padding-left: 10px;
                    }


                }

                .dropdown-toggle {
                    .inner {
                        border: none;
                    }
                }


                .dropdown-toggle:focus {
                    box-shadow: none;
                    outline: 0 !important;

                }

                .dropdown-toggle::after {
                    display: none;
                }

                .dropdown-menu {
                    border: 1px solid #D9D9D9;
                    border-radius: 0 0 5px 5px;
                    padding: 0;
                    border-radius: 10px;

                    li {
                        font-family: tt-regular;
                        font-size: $fs18;
                        text-align: center;

                        a {
                            display: flex;
                            justify-content: center;
                            text-decoration: none;

                            span {
                                color: #A8A8A8;
                            }
                        }
                    }

                    li:hover {
                        background-color: #EDEDED;

                        a {
                            span {
                                color: white;
                            }
                        }
                    }
                }
            }

            .contactMessageTextareaDes {
                margin-top: 15px;
                position: relative;

                textarea {
                    width: 100%;
                    outline: none;
                    border: 1px solid #D9D9D9;
                    background: white;
                    border-radius: 23px;
                    overflow: hidden;
                    padding: 10px 15px;

                    ::placeholder {
                        color: #BCBCBC;
                    }
                }

                .correctIncorrect {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                    color: green;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-check-circle {
                        color: green;
                        display: none;
                    }

                    .fa-exclamation-circle {
                        color: $col-main;
                        display: none;
                    }
                }
            }

            .contactMessageConfirm {
                margin-top: 25px;
                display: flex;
                align-items: center;

                .contactMessageConfirmcheckbox {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    cursor: pointer;
                    width: 2rem;
                    margin: 0;
                    margin-right: 8px;

                    input {
                        display: none;
                    }

                    input:checked~.checkbox__mark {
                        background-color: red;
                        border: 0.1rem solid red;
                    }

                    input:checked~.checkbox__mark svg {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                    }

                    .checkbox__mark {
                        position: relative;
                        width: 1.7rem;
                        height: 1.7rem;
                        border: 0.1rem solid #BEBEBE;
                        border-radius: 7px;

                        svg {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0.5);
                            width: 68%;
                            height: auto;
                            transition: all ease 0.2s;
                            opacity: 0;

                            path {
                                fill: white
                            }
                        }
                    }
                }

                .contactMessageConfirmtext {
                    margin: 0;
                    font-family: tt-regular;
                    font-size: $fs16;
                    color: #000;
                }
            }

            .contactMessageSubButBlock {
                margin-top: 36px;

                #contactMessageSubBut {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    background: $col-main;
                    border: 1px solid white;
                    outline: none;
                    color: white;
                    font-family: tt-medium;
                    font-size: $fs22;
                    border-radius: 23px;
                    min-width: 100px;
                    padding: 5px 0;
                    @include transitionTime();
                }

                #contactMessageSubBut:hover {
                    border: 1.5px solid $col-main;
                    background: white;
                    color: $col-main;
                }
            }

            .success {
                .correctIncorrect {
                    .fa-check-circle {
                        display: inline-block;
                    }
                }
            }

            .incorrect {
                .correctIncorrect {
                    .fa-exclamation-circle {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

//  galery
#etiGalery {
    .etiGalery {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px 15px 0 0;
        padding: 30px 28px;
        background-color: white;
        position: relative;
        top: -150px;
        z-index: 1;

        .etiGaleryName {
            font-family: tt-semibold;
            font-size: $fs34;
            color: #000;
        }

        .etiGaleryBody {
            margin-top: 20px;

            .etiGaleryItem {
                width: 100%;
                height: 220px;
                border-radius: 25px;
                overflow: hidden;
                cursor: pointer;
                margin-bottom: 30px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include transitionTime($time: 0.6s);
                }
            }

            .etiGaleryItem:hover {
                img {
                    transform: scale(1.03);
                }
            }
        }
    }
}

//galery modal
.gallery {
    position: relative;
    display: none;
    padding: 2rem 0;
    background: rgba(12, 11, 12, 1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


    img {
        width: 80%;
        height: 80%;
        display: block;
        margin: auto;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;

        -o-object-fit: cover;

        object-fit: cover;
        border-radius: 25px;
        overflow: hidden;
    }

    .gallery__controls {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 15px;
        gap: 1.3rem;

        .controls__btn__close {
            position: absolute;
            top: 15px;
            -webkit-transition: 0.3s linear;
            -o-transition: 0.3s linear;
            transition: 0.3s linear;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: transparent;
            border-radius: 50%;
            padding: .3rem 0.954rem;
            border-color: transparent;

            &:hover {
                border-color: #ffff;

            }

            svg {
                width: 24px;
            }

            right:15px;
        }

        .control__btn {

            -webkit-transition: 0.3s linear;

            -o-transition: 0.3s linear;

            transition: 0.3s linear;

            &:hover {
                border-color: #ffff;
            }

            border:solid 1px transparent;
            border-radius:50%;

            padding:0.5rem 1rem 0.5rem 0.9rem;
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-pack:center;
            -ms-flex-pack:center;
            justify-content:center;
            -webkit-box-align:center;
            -ms-flex-align:center;
            align-items:center;

            background:transparent;

            svg {
                pointer-events: none;
                width: 30px;
            }
        }
    }
}

.fade {
    animation: fade 0.4s ease;
    -webkit-animation: fade 0.4s ease;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

// branch
#branch {
    .branch {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px 15px 0 0;
        padding: 30px 28px;
        background-color: white;
        position: relative;
        top: -150px;
        z-index: 1;

        .branchName {
            font-family: tt-semibold;
            font-size: $fs34;
            color: #000;
        }

        .branchBody {
            margin-top: 20px;

            .branchBodyLeft {
                .branchBodyLeftHead {
                    .branchSelectDes {
                        margin-bottom: 20px;
                        position: relative;

                        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                            width: 100%;
                            display: flex;
                        }

                        img {
                            position: absolute;
                            top: 50%;
                            right: 15px;
                            transform: translateY(-50%);
                            pointer-events: none;
                        }

                        .dropdown-toggle {
                            background: #EDEDED;
                            border: 1px solid #D9D9D9;
                            font-family: tt-regular;
                            font-size: $fs18;
                            color: #A8A8A8;
                            padding: 0;
                            display: flex;
                            padding: 8px 10px;
                            border-radius: 25px;

                            .filter-option {
                                text-align: left;
                                padding-left: 10px;
                            }


                        }

                        .dropdown-toggle {
                            .inner {
                                border: none;
                            }
                        }


                        .dropdown-toggle:focus {
                            box-shadow: none;
                            outline: 0 !important;

                        }

                        .dropdown-toggle::after {
                            display: none;
                        }

                        .dropdown-menu {
                            border: 1px solid #D9D9D9;
                            border-radius: 0 0 5px 5px;
                            padding: 0;
                            border-radius: 10px;

                            li {
                                font-family: tt-regular;
                                font-size: $fs18;
                                text-align: center;

                                a {
                                    display: flex;
                                    justify-content: center;
                                    text-decoration: none;

                                    span {
                                        color: #A8A8A8;
                                    }
                                }
                            }

                            li:hover {
                                background-color: #EDEDED;

                                a {
                                    span {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }

                .branchBodyLeftBody {
                    background-color: $col-main;
                    padding: 15px 25px;
                    border-radius: 23px;
                    overflow: hidden;
                    margin-top: 50px;

                    .branchBodyLeftBodyHead {
                        font-family: tt-medium;
                        font-size: $fs26;
                        color: #fff;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.55);
                        padding: 8px 0;
                    }

                    .branchBodyLeftBodyList {

                        .branchBodyLeftBodyListItem {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-top: 10px;

                            .branchBodyLeftBodyListItemIcon {
                                margin-right: 12px;
                            }

                            .branchBodyLeftBodyListItemContent {
                                display: inline-flex;
                                margin: 0;
                                text-decoration: none;
                                font-family: tt-regular;
                                font-size: $fs20;
                                color: #fff;

                                span {
                                    display: inline-block;
                                    margin-right: 5px;
                                    font-family: tt-medium;
                                }
                            }
                        }

                    }
                }
            }

            .branchBodyRight {
                border-radius: 25px;
                overflow: hidden;

                #branchMap {
                    width: 100%;
                    height: 550px;
                    overflow: hidden;
                    background-color: grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3.625rem;
                    color: white;
                    font-weight: 700;

                }
            }
        }
    }
}


@import 'media';