@import 'common';

@media (min-width: 1199.9px) {
    .container {
        max-width: 1440px;
    }
}

@media screen and (max-width: 1199.9px) {
    #navbar_menu_button {
        display: inline-flex;
    }

    .mirror_navbar_right {
        display: none;
    }

    #fullpage {
        .section1 {

            #mirror_navbar {
                .mirror_navbar {
                    .mirror_navbar_right {
                        display: none;
                    }
                }
            }
        }
    }

    #back_to_top {
        display: none;
    }
}

@media screen and (max-width: 991.9px) {
    #fullpage {
        .section3 {
            #ledSection {
                .ledSectionHead {
                    .ledSectionHeadItem {
                        .ledSectionName {
                            top: -35px;
                            font-size: $fs28;
                        }
                    }

                    .ledSectionHeadItem2 {
                        padding-top: 40px;
                    }
                }
            }
        }

        .section5 {
            #statistics-section {

                .statistics-section {
                    .statistics-section-name {
                        font-size: $fs36;
                        padding-top: 30px;
                    }

                    .statistics-box {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        padding-top: 55px;

                        .statistics-item {
                            padding: 10px 0;
                            flex-basis: calc(100% / 3);

                            .statistics-item-count {
                                width: 155px;
                                height: 155px;


                                .statistics-item-count-into {
                                    width: 140px;
                                    height: 140px;
                                    font-size: $fs30;
                                }
                            }

                            .statistics-item-content {

                                .statistics-item-content-icon {
                                    margin-top: 30px;
                                    height: 50px;
                                }

                                .statistics-item-content-text {
                                    padding-top: 10px;
                                    font-size: $fs24;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 799.9px) {
    #fullpage {

        //prizma
        .section4 {
            #prizma {
                .prizma_Head {
                    .prizma_Head2 {
                        .prizma_Head2_cover {
                            .prizma_Head2_name {
                                font-size: $fs24;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.9px) {
    #fullpage {
        .mirror_pdf {
            .mirror_pdf_dowload {
                font-size: $fs18;
                padding: 9px 22px;
            }
        }

        // led
        .section3 {
            #ledSection {
                height: 85vh;
                padding: 130px 15px 20px 15px;

                .ledSectionHead {
                    height: 50%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -10px;

                    .ledSectionHeadItem {
                        position: relative;
                        padding: 0 10px;

                        .ledSectionName {
                            position: absolute;
                            top: -70px;
                            left: 10px;
                            font-family: tt-medium;
                            font-size: $fs24;
                            color: #000;
                            text-transform: uppercase;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .ledSectionHeadItem1 {
                        width: calc(100% / 3);
                        height: 100%;
                        margin-top: auto;
                        padding-left: 10px;
                        padding-top: 0;
                    }

                    .ledSectionHeadItem2 {
                        width: calc(100% / 3);
                        height: 92%;
                        padding-top: 0;
                        margin: auto;
                    }

                    .ledSectionHeadItem3 {
                        display: flex;
                        align-items: center;
                        width: calc(100% / 3);
                        height: 84%;
                        margin: auto;
                    }
                }

                .ledSectionBottom {
                    height: 50%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 -10px;
                    padding-top: 10px;

                    .ledSectionBottomItem {
                        padding: 0 10px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .ledSectionBottomItem1 {
                        width: calc(100% / 3);
                        height: 84%;
                        margin: auto;
                    }

                    .ledSectionBottomItem2 {
                        right: 0;
                        width: calc(100% / 3);
                        height: 92%;
                        margin: auto;
                    }

                    .ledSectionBottomItem3 {
                        width: calc(100% / 3);
                        height: 100%;


                        .ledSectionBottomItem3Position {
                            position: relative;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        //prizma
        .section4 {
            #prizma {
                height: 85vh;
                position: relative;
                padding: 100px 10px 20px 10px;

                // .prizma_background {
                //     background-color: #1A1A1A;
                //     position: relative;
                //     width: 60%;
                //     height: 100%;
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     z-index: -1;
                // }

                .prizma_Head {
                    height: 50%;
                    display: flex;
                    margin: 0 -10px;

                    .prizma_Head1 {
                        width: 40%;
                        height: 100%;
                        padding: 0 10px;

                        .prizmaName {
                            top: -60px;
                            left: 10px;
                            font-size: $fs24;
                            line-height: 30px;
                        }
                    }

                    .prizma_Head2 {
                        width: 60%;
                        padding: 0 10px;


                        .prizma_Head2_cover {
                            padding: 12px 15px 0 15px;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 82%;
                                object-fit: cover;
                            }

                            .prizma_Head2_name {
                                height: 18%;
                                font-size: $fs20;
                            }
                        }
                    }
                }

                .prizma_Bottom {
                    height: 50%;

                    .prizma_Bottom1 {
                        width: calc(100%/3);
                        padding-top: 10px;
                    }

                    .prizma_Bottom2 {
                        width: calc(100%/3);
                        height: 100%;
                        padding-top: 10px;
                    }

                    .prizma_Bottom3 {
                        width: calc(100%/3);
                        height: 100%;
                        padding: 0 10px;
                        padding-top: 10px;
                    }
                }
            }
        }

        // statistics
        .section5 {
            #statistics-section {
                .statistics-section {
                    .statistics-section-name {
                        font-size: $fs24;
                        padding-top: 30px;
                    }

                    .statistics-box {
                        padding-top: 20px;

                        .statistics-item {
                            padding: 10px 0;
                            flex-basis: calc(100% / 3);

                            .statistics-item-count {
                                width: 100px;
                                height: 100px;


                                .statistics-item-count-into {
                                    width: 92px;
                                    height: 92px;
                                    font-size: $fs18;
                                }
                            }

                            .statistics-item-content {

                                .statistics-item-content-icon {
                                    margin-top: 20px;
                                    height: 30px;

                                    img {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        width: auto;
                                    }
                                }

                                .statistics-item-content-text {
                                    margin-top: 7px;
                                    font-size: $fs16;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 567.9px) {
    #navbar_menu_button {
        top: 18px;
        right: 16px;
    }


    #fullpage {
        .section6 {
            #partner {
                .partner {
                    .partner_scroller {
                        padding: 30px 0;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 360px) {

    //nav button
    #navbar_menu_button {
        top: 12px;
        right: 15px;

        .ham8 {
            height: 40px;
        }
    }

    // phone menu
    .mirror_phone_menu {
        .mirror_phone_menu_head {
            padding: 12px 0;

            a {
                height: 40px;

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .mirror_phone_menu_list {
            font-size: $fs16;
            padding-left: 7px;

            li:not(:first-child) {
                padding: 5px 0;
                border-bottom: 1px solid black;
                margin-bottom: 10px;
            }

            li:hover {
                a {
                    transform: translateX(5px);
                }
            }
        }

        .mirror_phone_menu_bottom {
            .mirror_phone_menu_bottom_connect_social {
                padding-top: 12px;
                padding-bottom: 8px;
            }

            .mirror_phone_menu_bottom_connect_contact {
                #phoneContactTelMirror {
                    padding: 6px 15px;
                    font-size: $fs16;
                }
            }
        }
    }

    #fullpage {


        // navbar
        .section1 {
            #mirror_navbar {
                padding: 12px 0;

                .mirror_navbar {

                    .mirror_navbar_left {
                        .logo {
                            height: 40px;

                            a {
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }

        //prizma
        .section4 {
            #prizma {

                .prizma_Head {

                    .prizma_Head1 {

                        .prizmaName {
                            font-size: $fs20;
                        }
                    }

                    .prizma_Head2 {
                        .prizma_Head2_cover {
                            padding: 10px 12px 0 12px;

                            img {
                                height: 80%;
                            }

                            .prizma_Head2_name {
                                height: 20%;
                                font-size: $fs16;
                            }
                        }
                    }
                }

                .prizma_Bottom {
                    height: 50%;

                    .prizma_Bottom1 {
                        width: calc(100%/3);
                        padding-top: 10px;
                    }

                    .prizma_Bottom2 {
                        width: calc(100%/3);
                        height: 100%;
                        padding-top: 10px;
                    }

                    .prizma_Bottom3 {
                        width: calc(100%/3);
                        height: 100%;
                        padding: 0 10px;
                        padding-top: 10px;
                    }
                }
            }
        }

        // statistics
        .section5 {
            #statistics-section {
                .statistics-section {
                    .statistics-section-name {
                        font-size: $fs24;
                    }

                    .statistics-box {
                        padding-top: 15px;

                        .statistics-item {
                            padding: 5px 0;
                            flex-basis: calc(100% / 3);

                            .statistics-item-count {
                                width: 70px;
                                height: 70px;


                                .statistics-item-count-into {
                                    width: 60px;
                                    height: 60px;
                                    font-size: $fs12;
                                }
                            }

                            .statistics-item-content {

                                .statistics-item-content-icon {
                                    margin-top: 12px;
                                    height: 25px;

                                    img {
                                        height: 100%;
                                    }
                                }

                                .statistics-item-content-text {
                                    margin-top: 7px;
                                    font-size: $fs14;
                                }
                            }
                        }
                    }
                }
            }
        }

        //partner
        .section6 {
            .partner-name {
                font-size: $fs24;
            }

            #partner {
                padding: 10px 0;
                margin-top: 30px;
                margin-bottom: 200px;

                .partner {
                    .partner_scroller {
                        padding: 15px 0;
                    }
                }
            }

            #footer {
                .mirror-footer {
                    padding: 15px 0;

                    .mirror-footer-logo {
                        a {
                            width: 90px;
                            height: 80px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .mirror-footer-social {
                        padding-top: 15px;

                        .mirror-footer-social-desing {
                            a {
                                span {
                                    font-size: $fs14;
                                }
                            }
                        }
                    }

                    .mirror-footer-copyright {
                        font-size: $fs12;
                        padding-top: 15px
                    }
                }
            }
        }
    }

}