.onloadMirror {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    transition: all ease .6s;
    z-index: 10000;
}

.onloadMirror .onloadMirrorBack {
    border-radius: 50%;
    animation: onload 3s ease infinite alternate;
    background-color: white;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px gray;
    transition: all ease .4s;


}

@keyframes onload {
    0% {
        transform: rotate(0deg) scale(0.95);
    }

    100% {
        transform: rotate(360deg) scale(1.05);
    }
}


.onloadMirror .onloadMirrorBack img {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
    transition: all ease .8s;
}

.onloadMirrorNone {
    opacity: 0;
    visibility: visible;
    z-index: -10;
}

.onloadMirrorNone .onloadMirrorBack img {
    transform: scale(0);
}

/* .onloadMirrorNoneDis {
    display: none;
} */