@import 'common';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



// phone ham button
#navbar_menu_button {
    display: none;
    position: fixed;
    top: 18px;
    right: 27px;
    z-index: 1002;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 4px black;
    @include transitionTime(1s);

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #1A1A1A;
        stroke-width: 7;
        stroke-linecap: round;
        @include transitionTime(1s);
    }

    .ham8 {
        height: 50px;
    }

    .ham8 .top {
        stroke-dasharray: 40 160;
    }

    .ham8 .middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
    }

    .ham8 .bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
    }

    .ham8.active .top {
        stroke-dashoffset: -64px;
    }

    .ham8.active .middle {
        //stroke-dashoffset: -20px;
        transform: rotate(90deg);
    }

    .ham8.active .bottom {
        stroke-dashoffset: -64px;
    }
}

#navbar_menu_button:hover {
    background-color: black;
    box-shadow: 0 0 4px white;

    .line {
        stroke: white;
    }
}


// phone menu
.mirror_phone_menu {
    position: fixed;
    top: 0;
    opacity: 0;
    left: -2000px;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1001;
    @include transitionTime(0.6s);

    .mirror_phone_menu_head {
        padding: 20px 0;

        a {
            text-decoration: none;
            display: flex;
            justify-content: left;
            align-items: center;

        }
    }

    .mirror_phone_menu_list {
        font-family: tt-semibold;
        font-size: $fs18;
        text-transform: uppercase;
        padding-left: 10px;

        li:not(:first-child) {
            padding: 5px 0;
            border-bottom: 1px solid black;
            margin-bottom: 10px;

            a {
                display: inline-block;
                color: $col-nav-main;
                text-decoration: none;
                @include transitionTime;
            }
        }

        li:hover {
            a {

                transform: translateX(5px);
            }
        }
    }

    .mirror_phone_menu_bottom {

        .mirror_phone_menu_bottom_connect_social {
            @extend .list_reset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 10px;

            .mirror_phone_menu_bottom_connect_social_desing {

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .mirror_phone_menu_bottom_connect_social_desing:first-child a {
                margin-right: 18px;
            }
        }

        .mirror_phone_menu_bottom_connect_contact {
            display: flex;
            justify-content: center;

            #phoneContactTelMirror {
                padding: 8px 18px;
                font-family: tt-semibold;
                font-size: $fs18;
                color: $col-nav-main;
                text-transform: uppercase;
                border: 1px solid #606060;
                text-decoration: none;
                @include transitionTime(0.4s);
            }

            #phoneContactTelMirror:hover {
                background-color: $col-nav-main;
                color: white;
            }
        }
    }



}

.mirror_phone_menu_active {
    opacity: 1;
    left: 0;
}

// #mirror {}
#fullpage {
    .section {
        font-family: tt-regular;
    }

    .mirror_pdf {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        position: relative;
        overflow: hidden;

        .mirror_pdf_line {
            width: 70vw;
            height: 1px;
            background-color: black;
        }

        .mirror_pdf_dowload {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: tt-medium;
            font-size: $fs24;
            color: white;
            background-color: #010101;
            padding: 12px 40px;
            border: 1px solid #010101;
            text-decoration: none;
            @include transitionTime(0.6s)
        }

        .mirror_pdf_dowload:hover {
            background-color: white;
            color: #010101;
        }

    }

    .section1 {
        #mirror_navbar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1001;
            background-color: rgba(255, 255, 255, 1);
            padding: 15px 0;

            .mirror_navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .mirror_navbar_left {
                    .logo {
                        a {
                            display: inline-flex;
                        }
                    }
                }

                .mirror_navbar_right {
                    display: flex;
                    justify-content: right;
                    align-items: center;

                    .mirror_nav_menu {
                        .mirror_nav_menu_list {
                            @extend .list_reset;
                            display: flex;
                            font-family: tt-semibold;
                            font-size: $fs18;
                            text-transform: uppercase;

                            li:first-child {
                                display: none;
                            }

                            li {
                                padding: 0 10px;
                                display: block;

                                @include transitionTime(0.4s);

                                a {
                                    display: inline-block;
                                    color: $col-nav-main;
                                    text-decoration: none;
                                    position: relative;
                                    @include transitionTime(0.4s);
                                }

                                a::after {
                                    content: "";
                                    width: 0%;
                                    height: 2px;
                                    background-color: #1a1a1a;
                                    display: block;
                                    margin-top: 5px;
                                    position: absolute;
                                    left: 0;
                                    @include transitionTime(0.4s);
                                }
                            }

                            li:hover {
                                a {
                                    transform: scale(1.02);
                                }

                                a::after {
                                    content: "";
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .mirror_navbar_right_connect {
                        display: flex;

                        .mirror_navbar_right_connect_social {
                            @extend .list_reset;
                            display: flex;
                            align-items: center;
                            margin-left: 20px !important;
                            padding-left: 14px;
                            border-left: 1px solid #000000;

                            .mirror_navbar_right_connect-social_desing {

                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 19px;
                                    height: 19px;


                                    svg {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            .mirror_navbar_right_connect_social_desing a:first-child {
                                margin-right: 12px;
                            }
                        }

                        .mirror_navbar_right_connect_contact {
                            margin-left: 20px;

                            #contactTelMirror {
                                padding: 8px 18px;
                                font-family: tt-semibold;
                                font-size: $fs18;
                                color: $col-nav-main;
                                text-transform: uppercase;
                                border: 1px solid #606060;
                                text-decoration: none;
                                @include transitionTime(0.4s);
                            }

                            #contactTelMirror:hover {
                                background-color: $col-nav-main;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .mirror_banner {
            width: 100vh;
            height: 100%;

            .mirror_banner_video {
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }

    .section2 {

        .fp-overflow {
            overflow: hidden;
        }

        // .scrollerSection {
        .mirror_scroller {
            // position: relative;
            // display: flex;
            // align-items: center;
            height: 85vh;
            width: 100%;

            .owl-stage-outer {
                height: 100%;
            }

            .owl-stage {
                height: 100%;
            }

            .owl-item {
                height: 100%;
            }
        }

        // }


    }

    .section3 {
        .fp-overflow {
            overflow: hidden;
        }

        #ledSection {
            height: 85vh;
            padding: 80px 40px 20px 40px;
            // overflow: hidden;

            .ledSectionHead {
                height: 50%;
                display: flex;
                justify-content: space-between;
                margin: 0 -10px;

                .ledSectionHeadItem {
                    position: relative;
                    padding: 0 10px;

                    .ledSectionName {
                        position: absolute;
                        top: -50px;
                        left: 40px;
                        font-family: tt-medium;
                        font-size: $fs36 ;
                        color: #000;
                        text-transform: uppercase;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .ledSectionHeadItem1 {
                    width: 28%;
                    height: 100%;
                    margin-top: auto;
                    padding-left: 40px;
                    padding-top: 40px;
                }

                .ledSectionHeadItem2 {
                    width: 35%;
                    height: 160%;
                }

                .ledSectionHeadItem3 {
                    display: flex;
                    align-items: center;
                    width: 25%;
                    height: 80%;
                    margin: auto auto auto 0;
                }
            }

            .ledSectionBottom {
                height: 50%;
                display: flex;
                justify-content: space-between;
                margin: 0 -10px;
                padding-top: 10px;

                .ledSectionBottomItem {
                    padding: 0 10px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .ledSectionBottomItem1 {
                    width: 28%;
                    height: 100%;
                }

                .ledSectionBottomItem2 {
                    position: relative;
                    right: -30px;
                    width: 30%;
                    height: 100%;
                }

                .ledSectionBottomItem3 {
                    position: relative;
                    width: 25%;
                    height: 100%;
                    margin-bottom: auto;

                    .ledSectionBottomItem3Position {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 160%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }


    }

    // Prizma and billboard
    .section4 {
        position: relative;

        .fp-overflow {
            overflow: hidden;
        }

        #prizma {
            height: 85vh;
            position: relative;
            padding: 100px 40px 20px 40px;

            .prizma_background {
                background-color: #1A1A1A;
                position: relative;
                width: 60%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
            }

            .prizma_Head {
                height: 50%;
                display: flex;
                margin: 0 -10px;

                .prizma_Head1 {
                    width: 68%;
                    height: 90%;
                    margin: auto 0;
                    padding: 0 10px;
                    padding-left: 80px;
                    padding-right: 40px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .prizmaName {
                        position: absolute;
                        top: -95px;
                        left: 80px;
                        font-family: tt-medium;
                        font-size: $fs36;
                        color: #000;
                        line-height: 50px;
                    }
                }

                .prizma_Head2 {
                    width: 36%;
                    padding: 0 10px;


                    .prizma_Head2_cover {
                        position: relative;
                        background-color: white;
                        padding: 12px 15px 0 15px;
                        height: 110%;

                        img {
                            width: 100%;
                            height: 82%;
                            object-fit: cover;
                        }

                        .prizma_Head2_name {
                            height: 18%;
                            font-family: tt-medium;
                            font-size: $fs28;
                            color: black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            .prizma_Bottom {
                height: 50%;
                display: flex;
                margin: 0 -10px;

                .prizma_Bottom1 {
                    width: 30%;
                    padding: 0 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .prizma_Bottom2 {
                    width: 35.5%;
                    height: 95%;
                    margin-top: auto;
                    padding: 0 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .prizma_Bottom3 {
                    width: 34.5%;
                    height: 80%;
                    padding: 0 10px;
                    margin-top: auto;
                    padding-right: 60px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    // statistics
    .section5 {

        #statistics-section {
            height: 100%;
            overflow: hidden;

            .container {
                height: 100%;
            }

            .statistics-section {
                @include transitionTime($time: 2s);
                opacity: 0;
                transform: scale(0);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .statistics-section-name {
                    font-family: tt-medium;
                    font-size: $fs36;
                    text-transform: uppercase;
                    text-align: center;
                    padding-top: 30px;
                }

                .statistics-box {
                    display: flex;
                    justify-content: space-around;
                    padding-top: 55px;

                    .statistics-item {
                        .statistics-item-count {
                            width: 155px;
                            height: 155px;
                            border-radius: 50%;
                            background: linear-gradient(0deg, #E42D0E 0%, #E6410C 100%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-size: 50% 50%;
                            margin: 0 auto;

                            .statistics-item-count-into {
                                width: 140px;
                                height: 140px;
                                border-radius: 50%;
                                background-color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-family: tt-medium;
                                font-size: $fs30;
                                color: #000
                            }
                        }

                        .statistics-item-content {
                            text-align: center;

                            .statistics-item-content-icon {
                                margin-top: 30px;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .statistics-item-content-text {
                                padding-top: 10px;
                                font-family: tt-bold;
                                font-size: $fs24;
                                color: #000
                            }
                        }
                    }
                }
            }

            .statistics-section-animation {
                opacity: 1;
                transform: scale(1);
            }
        }

        #footer {
            display: none !important;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #1A1A1A;
            text-align: center;
            // height: 35vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .mirror-footer {
                padding: 25px 0;

                .mirror-footer-logo {
                    a {
                        display: inline-flex;
                        text-decoration: none
                    }
                }

                .mirror-footer-social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 20px;

                    .mirror-footer-social-desing {
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 7px;

                            svg {
                                margin-right: 8px;
                            }

                            span {
                                font-size: $fs16;
                                color: white;
                            }
                        }
                    }
                }

                .mirror-footer-copyright {
                    font-family: tt-medium;
                    font-size: $fs14;
                    color: white;
                    padding-top: 18px
                }
            }
        }
    }

    .section6 {
        .partner-name {
            font-family: tt-medium;
            font-size: $fs36;
            color: black;
            text-transform: uppercase;
            text-align: center;
        }

        #partner {
            padding: 15px 0;
            background-color: #1A1A1A;
            margin-top: 45px;
            margin-bottom: 250px;

            .partner {
                .partner_scroller {
                    padding: 30px;

                    .partner_item {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        // width: 140px;
                        a {
                            text-decoration: none;
                            display: flex;
                        }

                        img {
                            max-width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        #footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #1A1A1A;
            text-align: center;
            // max-height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .mirror-footer {
                padding: 25px 0;

                .mirror-footer-logo {
                    a {
                        display: inline-flex;
                        text-decoration: none
                    }
                }

                .mirror-footer-social {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 20px;

                    .mirror-footer-social-desing {
                        a {
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 7px;

                            svg {
                                margin-right: 8px;
                            }

                            span {
                                font-size: $fs16;
                                color: white;
                            }
                        }
                    }
                }

                .mirror-footer-copyright {
                    font-family: tt-medium;
                    font-size: $fs14;
                    color: white;
                    padding-top: 18px
                }
            }
        }
    }
}

#back_to_top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 1000;
    opacity: 0;
    @include transitionTime(0.4s);

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #1A1A1A;
        box-shadow: 0 0 2px white;
        width: 40px;
        height: 40px;
        border-radius: 5px;

        svg {
            fill: #fff;
            height: 70%;
            width: 70%;
            object-fit: contain
        }
    }
}

@import 'media';